---
// src/layouts/Layout.astro
// Main layout for YSC Website pages.
// Wraps shared elements like Header/Footer and provides SEO basics.
// Customize props as needed (e.g., title, description).

import { Header } from '../components/Header.tsx';
import { Footer } from '../components/Footer.tsx';
import "../../styles/globals.css";

interface Props {
    title: string;
    description: string;
    image: string;
}

const currentPath = Astro.url.pathname;

const { 
  title = "Young Starter Club - Discover Your Passion", 
  description = "Join Young Starter Club for music, sports, arts, cooking, and photography programs for all ages.",
  image = "/YSC.ico"  
} = Astro.props;


---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/YSC.ico" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="online music lessons for beginners, badminton coaching, arts classes, cooking sessions, photography classes, young starter club, san pedro music services" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="robots" content="index, follow">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script>
      import { inject } from '@vercel/analytics';  
      import { injectSpeedInsights } from '@vercel/speed-insights';  
      inject();
      injectSpeedInsights();
    </script>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "unfzy4w0eq");
  </script>
  </head>
  <body class="min-h-screen bg-white">  
    <Header currentPath={currentPath} client:load />
      <slot />
    <Footer client:load />
  </body>
</html>